body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(../images/apple-apple-devices-business-205316.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    position: absolute;
    left: 72%;
    top: 615px;
    transform: translate(-50%);
}

li {
    position: absolute;
    list-style: none;
    width: 40px;
    height: 60px;
    background: rgba(121, 121, 121, 0.13);
    border-radius: 50%;
}

li:nth-child(even) {
    animation: animateEven 5.1s linear infinite;
}

li:nth-child(odd) {
    animation: animateOdd 4.1s linear infinite;
}

@keyframes animateEven {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
        filter: blur(5px);
    }
    100% {
        transform: translate(100px, -500px) scale(3);
        opacity: 0;
        filter: blur(10px);
    }
}

@keyframes animateOdd {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
        filter: blur(5px);
    }
    100% {
        transform: translate(-100px, -500px) scale(3);
        opacity: 0;
        filter: blur(10px);
    }
}

li:nth-child(1) {
    animation-delay: 0s;
}

li:nth-child(2) {
    animation-delay: .4s;
}

li:nth-child(3) {
    animation-delay: .8s;
}

li:nth-child(4) {
    animation-delay: 1.6s;
}

li:nth-child(5) {
    animation-delay: 2s;
}

li:nth-child(6) {
    animation-delay: 1.2s;
}

li:nth-child(7) {
    animation-delay: 2.4s;
}

li:nth-child(8) {
    animation-delay: 2.8s;
}